* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection {
    color: red;
    background-color: black;
}

.headline {
    margin-right: 15px;
}

/* navbar*/
.logo img {
    /* margin: 0vw 5vw; */
    height: 92px;
    width: 384px;
    object-fit: cover;


}

/* 
.nav-s1 {
    height: 1.7em;
} */

/* .nav-s2{
    position: fixed;
    top: 0;
    z-index: 1;
} */
/* main{
position: absolute;
top: 128px;
} */
.list-item:hover {
    color: #00C6FE;
}

.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 9vw;
    text-align: center;
}

.qr img {
    height: 60px;
    width: 60px;
    border: 2px solid;
}

.qr p {
    font-size: 1rem;
    margin: 0;
}

.list {
    font-size: 1.3rem;
}



/*main section*/

/*carousel*/
.carousel-image {
    height: 30rem;
}

.bg1 {
    background-image: url("src/GAs\ leak.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url("src/GAs\ leak2.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url("src/GAs\ leak3.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

/* manual */
.manual {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    min-height: 612px;

    /* max-height: vh; */
}

.heading {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.heading span {
    display: inline-block;
    color: rgb(249, 121, 24);
    font-size: 2.2rem;
}

.heading h2 {
    display: inline;
    line-height: 14px;
}

.card-container {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 50vh;
    margin-top: 10px;
    margin-bottom: 20px;

}

.setup-info {
    margin: 40px 0px;
    opacity: 0.7;
    line-height: 25px;
    text-align: center;
}

.card {
    width: 197px;
    height: 242px;
    box-sizing: border-box;
    margin-right: 18px;
    margin-bottom: 18px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 199, 254, 0.535);
    transform: scale(1.05);
}

/* sensor-data */
.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 70vh;
    width: 100%;
    background-color: #f9f8fd;
    padding-top: 20px;
}

.data {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 200px;
    width: 100%;
    margin: 10px 10px;


}


.data-card {
    display: flex;
    align-items: center;
    width: 250px;
    height: 130px;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.data-card:hover {
    transform: scale(1.05);
}

/* motor status */
#motor_switch {
    position: relative;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 25px;
}

@keyframes switch {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#motor_switch::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 240%;
    left: 30%;
    animation: switch 3s linear infinite;
    /* transition: all 0.2s linear; */
}

#motor_switch::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
}

#motor_switch .card-des {
    color: #00C6FE;

}

.logos {
    height: 60px;
    width: 60px;
    margin-left: 20px;
}

.image1 {
    background: url(src/thermometer.png);
    background-size: cover;
}

.image2 {
    background: url(src/gauge.png);
    background-size: cover;
}

.image3 {
    background: url(src/gas.png);
    background-size: cover;
}

.image4 {
    background: url(src/electric-motor.png);
    background-size: cover;
}

.card-des {
    height: 100px;
    width: 130px;
    line-height: 8px;
    padding-top: 39px;
    padding-left: 10px;
    z-index: 1;

}

.card-des p {
    font-size: 2rem;
    margin-left: 10px;
}

.card-des div {
    opacity: 0.5;
    line-height: 13px;
}

/* alerts */
.alert {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    min-height: 100px;
}

/* chart */
.chart {
    /* min-height: 600px; */
    background-color: red;
    width: 100% !important;
    padding: 3px;
    margin-top: 10px;
    border-radius: 10px;
    margin: 30px 0px;
    box-sizing: border-box;

}

.chart iframe {
    min-height: 600px;
    /* height: 100%; */
    width: 100%;
    border-radius: 5px;
    overflow: auto;
    border: 0px;
    margin-bottom: -6px;
}


/* map */
#map {
    /* min-height: 80vh; */
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

#map iframe {
    min-height: 450px;
    padding: 5px;
    border-radius: 10px;
    margin: 20px 0px;
}

/* contact */

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 84vh;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.card-client {
    background: #2cb5a0;
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.card-client:hover {
    transform: translateY(-10px);
}

.user-picture {

    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.prayag {
    background-image: url(src/nana\ \(1\).png);
    background-size: cover;
}

.aditya {
    background-image: url(src/aditya.jpg);
    background-size: cover;
}

.rohan {
    background-image: url(src/rohan.jpg);
    background-size: cover;
}



.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a svg {
    width: 1.1rem;
    fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}

::-webkit-scrollbar {
    width: .9rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(24 24 29)
}

::-webkit-scrollbar-thumb {
    background: #00C6FE;
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

/* up button */
.goupbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    /* text-align: center;
    line-height: 50px; */
}

.goupbtn img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 31%;
    padding: 4.5px;
    background-color: #0093ffb8;
}

/*Footer */
.footer1 {
    display: flex;
    background-color: rgb(6, 6, 6);
    height: 70px;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 0px 9px;

}

/* media */


/* medium display */
@media screen and (max-width:800px) {
    .card-client {
        transform: scale(0.9);
    }

    .data-card {
        box-shadow: 6px 6px 20px #bebebe;
    }
}

/* small display */
@media screen and (max-width:600px) {
    .logo img {
        height: 90px;
        width: 290px;
        object-fit: cover;
    }

    .carousel-image {
        height: 20rem;
    }

    .card {
        transform: scale(0.9);
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .data-card {
        margin: 5px;
        width: 196px;
        height: 93px;
    }

    .logos {
        margin: 0;
    }

    #motor_switch::before {
        width: 80px;
    }

    /* contact cards */
    /* .card-client {
        transform: scale(0.7);
    } */

    .card-client:hover {
        transform: translateY(-5px);
    }



    .goupbtn {
        width: 70px;
        height: 70px;
        bottom: 20px;
        right: 20px;
    }

    .footer1 {
        padding-right: 45px;
    }
}



/* smaller sisplay */
@media screen and (max-width:395px) {
    .heading {
        padding: 0px 5px;
    }

    .data-card {
        /* margin-bottom: 4px;  */
        margin-top: 10px;
        width: 351px;
        height: 105px;
        margin-bottom: 11px;
        /* background-color: red; */
    }
    #motor_switch::before {
        width: 80px;
        height: 350%;
        left: 39%;
    }

    .logos {
        height: 65px;
        width: 64px;
        margin-left: 20px;
        margin-right: 19px;
    }


}